<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,21},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>
			<key>yu10.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,1},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>
			<key>yu11.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1},{27,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,17}</string>
			</dict>
			<key>yu12.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,20},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>
			<key>yu13.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1},{27,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,17}</string>
			</dict>
			<key>yu14.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,21},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>
			<key>yu15.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1},{14,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,11}</string>
			</dict>
			<key>yu16.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,17},{13,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,10}</string>
			</dict>
			<key>yu17.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,31},{14,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,12}</string>
			</dict>
			<key>yu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,32},{21,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,14}</string>
			</dict>
			<key>yu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,21},{16,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,14}</string>
			</dict>
			<key>yu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{40,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,28}</string>
			</dict>
			<key>yu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,31},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>
			<key>yu6.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,20},{25,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,17}</string>
			</dict>
			<key>yu7.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>
			<key>yu8.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1},{28,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,17}</string>
			</dict>
			<key>yu9.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,20},{25,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,17}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{199,54}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>199</integer>
			<key>height</key>
			<integer>54</integer>
		</dict>
	</dict>
</plist>